/* The sidepanel menu */
.tile-container2_config {
    border-radius: 15px;
    height:135px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

#graphSize option,
#modelId option,
#operationType option,
#fieldId option,
#groupByfieldId option,
#chartType option {
    color: #000000;
}

.jt_color_picker{
        margin-right: 10px;
}

.icon-box {
    border: 1px solid #ddd;
    max-height: 170px;
    overflow-y: auto;
    background-color: RGBA(249, 250, 251, var(--bg-opacity, 1));
}

.round-color-input {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    outline: none;
}

.icon-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icon-btn {
    width: 60px;
    height: 60px;
    margin: 15px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-underline {
        border-bottom: 2px solid red;
        box-shadow: none;
    }

.icon-btn i {
    pointer-events: none;
}

#selectedIconContainer {
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
}

.icon-row {
    display: flex;
    width: 100%;
/*    justify-content: space-between;*/
}

.dropdown-item_custom {
    display: flex;
    align-items: start;
    justify-content: right;
/*    width: 10%;
    padding: 10px;*/
    box-sizing: border-box;
}

.dropdown-item_custom i {
    margin-right: 8px;
    color: black;
}

/*.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}*/

.content-wrapper {
    height: calc(25% - 75px); /* Adjust this as necessary */
    overflow-y: auto;
    padding: 20px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
/*  cursor: pointer;*/
  background-color: #FFFFFF;
  color: #714b67;
/*  padding: 10px 15px;*/
  border: none;
}

.openbtn:hover {
  background-color: #FFFFFF;
}

.with-sidebar {
  margin-left: 300px;
  transition: margin-left 0.5s;
}

.custom-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.custom-button-container .icon {
    margin-left: 10px; /* Adjust spacing as needed */
}

/*#colorPicker {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  margin-left: 40px;
}
*/
#colorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
}

#colorPicker::-webkit-color-swatch {
  border: none;
}

/*#iconcolorPicker {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  margin-left: 40px;
}
*/
#iconcolorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
}

#iconcolorPicker::-webkit-color-swatch {
  border: none;
}

/*#textcolorPicker {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  margin-left: 40px;
}
*/
#textcolorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
}

#textcolorPicker::-webkit-color-swatch {
  border: none;
}


.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.custom-select:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.custom-select:disabled {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}


.oh-view {

    margin-top: 4.5%;
    width: 49.333333%;
    border-radius: 10px;

}
.oh-view .stat-icon {

    width: 30%;
    height: 85px;
    text-align: center;
    background: #ff8762;
    color: #fff;
    width: 32%;
    padding-top: 2%;
    font-size: xxx-large;

}
.oh-view .oh-card {

    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;
    box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
    border-radius: 10px;

}

.stat-widget-one .stat-text {

    font-size: 14px;
    color: #ff8762;
    margin-top: 2.3rem;
    margin-left: 1rem;

}
.stat-widget-one .stat-digit {
    font-size: 26px;
    color:#993232;
    margin-left: 1rem;
    margin-top: -1px;
    font-family: initial
}

.stat-widget-one .stat-icon i {

    font-size: 60px;
    font-weight: 900;
    display: inline-block;
    color: #fff;
    margin-top: 40px;

}
.stat-widget-one {

    background-color: white;
    text-align: left;
    border-radius: 10px;

}
.stat-widget-one {
    width: 100%;
    border-radius: 10px;
}
.oh-view .stat-icon {

    width: 30%;
    height: 85px;
    text-align: center;
    padding-top: 2%;

}
.stat-content {
    display: inline-block;
    width: 83%;
    text-align: center !important;
}

.oh-view2 {

    margin-top: 4.5%;
    width: 49.333333%;
    border-radius: 10px;

}
.oh-view2 .stat-icon2 {

    width: 30%;
    height: 85px;
    text-align: center;
    background: #ff8762;
    color: #fff;
    width: 32%;
    padding-top: 2%;
    font-size: xxx-large;
    border-radius: 10px;

}
.oh-view2 .oh-card2 {

    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;
    box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
    border-radius: 10px;

}

.oh-card2-body2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.stat-widget-one2 .stat-text {

    font-size: 14px;
    color: #ff8762;
    margin-top: 2.3rem;
    margin-left: 1rem;

}
.stat-widget-one2 .stat-digit {
    font-size: 26px;
    color:#993232;
    margin-left: 1rem;
    margin-top: -1px;
    font-family: initial
}

.stat-widget-one2 .stat-icon2 i {

    font-size: 50px;
    font-weight: 900;
    display: inline-block;
    color: #fff;
    margin-top: 35px;

}
.stat-widget-one2 {

    background-color: white;
    text-align: left;
    border-radius: 10px;

}
.stat-widget-one2 {
    width: 100%;
    border-radius: 10px;

}
.oh-view2 .stat-icon2 {

    width: 30%;
    height: 85px;
    text-align: center;
    padding-top: 12%;

}
.stat-content2 {
    display: inline-block;
    width: 83%;
    text-align: center !important;
    border-radius: 10px;
}



.oh-view3 {

    margin-top: 4.5%;
    width: 49.333333%;
    border-radius: 10px;

}
.oh-view3 .stat-icon3 {

    width: 30%;
    height: 85px;
    text-align: center;
    background: #ff8762;
    color: #fff;
    width: 32%;
    padding-top: 10%;
    font-size: xxx-large;
    border-radius: 10px;

}
.oh-view3 .oh-card3 {

    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;
    box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
    border-radius: 10px;

}

.oh-card3-body3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.stat-widget-one3 .

.stat-head {
    text-align: center; !important;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 25px;
    margin-left: 24px;
    width: 100%;
    margin-top: 75px;
}
